@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
margin-top: 0;
padding: 0;
border: none;}
body {
    background-color: black;
    background-image: url('../images/medis.jpeg');
    color: #f5f5f5
}
    #mylogo {
        text-align: center;
        font-size: 150%
    }
    #imagenav {
        height: 300px;
        width: 90%;
        margin: auto;
        border-radius: 50px;
        background-image: url('../images/ziema.jpeg');
        background-repeat: no-repeat, center center;
        background-size: cover;
    }
    nav {
        float: right;
    }
    #mymenu {
        font-size: 20px;   
    }
    #mymenu > li {
        list-style-type: none;
        font-weight: bold;
        margin-right: 50px;
        line-height: 25px;
    }
    #mymenu a {
        text-decoration: none;
        color: black;
    }
#main {
    display: inline-block;
    margin-top: 100px;
    font-size: 20px;
    line-height: 25px;
    width: 50%;
}
#pigeon {
    height: 50vh;
    width: 50%;
    float: right;
    background-image: url('../images/pigeon.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: top;
    margin-top: 100px;
    border-radius: 50px;
}
    