@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
margin-top: 0;
padding: 0;
border: none;}
body {
    background-color: #f1ebe9;
}
#head {
    border: solid black 1px;
    text-align: center;
    background-image: url("../images/interior1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    height: 50vh;
    position:relative
}
#text {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 30vh;
    color: #f8f6f0;
    font-size: x-large;

}